<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Dynamics.EntityGenerator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Dynamics.EntityGenerator.Properties.Settings>
            <setting name="AuthenticationType" serializeAs="String">
                <value>Ad</value>
            </setting>
            <setting name="Domain" serializeAs="String">
                <value>fadev</value>
            </setting>
            <setting name="UserName" serializeAs="String">
                <value>crmappservice</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value>G00glyW00gly1</value>
            </setting>
            <setting name="CRMServiceURL" serializeAs="String">
                <value>http://t-crmapp:5555/WGSTest223/XRMServices/2011/Organization.svc</value>
            </setting>
        </Dynamics.EntityGenerator.Properties.Settings>
    </applicationSettings>
</configuration>